#aboutMe {
    font-size: 1em;
    font-family: var(--font-two);
}

#aboutMeContainer {
    text-align: center;
    background: url('../assets/img/darkish\ clouds.jpg');
    background-size: cover;
    border: .25em solid rgba(0, 0, 0, 0.700);
    z-index: -1;
}

#about {
    margin: 5em;
}