body {
    background-image: linear-gradient(to bottom right, #915BA2,#8E649B,#5E8792, #AC8DB6, #915BA2);
    line-height: 1.6;
    display: block;
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

div {
    display: block;
}
