#jumboStyle {
    background: url(../assets/img/French-Jap\ Clouds.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    color: var(--sweg2);
    text-align: center;
    font-family: var(--font-two);
    /* text-shadow: .3em .3em .3em black; */
}

#jumboName {
    margin: auto;
    font-size: 84px;
    text-shadow: .1em .1em .1em black;
}