/* .lionsMane {
    max-width: 600px;
    max-height: 600px;
    display: inline-flex; 
    position: relative;  
    border-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; 

 };


.lionsMane img {
    height: auto !important;
    width: auto !important;
} */ 

/* #theLionsMane {
    height: 790px;
    display: inline-flex;
    position: relative;   
    border-bottom: 40px;
     -webkit-box-orient: vertical;
    -webkit-box-direction: normal; 
     -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

#lionsMane {
    height: 420px;
    width: 420px;
    display: block;
    margin-left: 40%;
    margin-right: 60%;
    border-radius: 1em;
}  
*/