/* The Whole NavBar */
#navStyle {
    background-color: rgba(96, 151, 139, 0.755) !important;
    font-family: var(--font-two);
    font-size: 1em;
    position: fixed;
    width: 100%;
    height: 4em;
    border-radius: 0px;
    margin-bottom: 0;
    /* z-index: 11; */
    /* color: var(--sweg4); */
}
 /* The "Portfolio" on the navBar */
.navbar-brand {
    display: inline-block;
    border-right: 15px black;
    z-index: 2;
    /* padding: 0 25.5px; */
    /* margin-top: 4px; */
    
}

/* The list inside the bar */

#navStyle ul {
    margin-left: 70%;
}