/* The Whole NavBar */
#navStyle {
    background-color: var(--sweg1) !important;
    font-family: var(--font-two);
    font-size: 24px;
    /* position: fixed; */
    width: 100%;
    height: 60px;
    border-radius: 0px;
    margin-bottom: 0;
    /* z-index: 11; */
    /* color: var(--sweg4); */
}
 /* The "Portfolio" on the navBar */
.navbar-brand {
    display: inline-block;
    border-right: 15px black;
    z-index: 11;
    /* padding: 0 25.5px; */
    /* margin-top: 4px; */
    
}

/* The list inside the bar */
#listStyle {
    /* margin-left: 60%; */
    z-index: 11;
    /* color: var(--sweg4); */
}

#listStyle li {
    display: inline-block;
    margin-top: 4px;
}

#listStyle li a {
    padding: 0 15.5px;
    text-decoration: none;
}