.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 40px;

}

/* .work-item {
    border: 2px solid #663f92;
    text-align: center;

} */

.d-block {
    display: block!important
}

.content .work-item {
    background-color: rgb(56, 54, 54);
    color: white;
    border: 2px solid #deb887;
    -webkit-box-shadow: 0 0 15px burlywood;
    box-shadow: 0 0 15px burlywood;
    padding: 16px;
    height: 100%;
    width: 260px;
    margin: auto;
    text-align: center;
}

.preview {
    margin-bottom: 20px;
    border: 1px solid rgb(226, 190, 144);
}

.projectsHeadline {
    text-align: center;
    color: burlywood;
    font-family: var(--font-eight);
    font-size: 4em;
    font-weight: 900;
    letter-spacing: 0.125em;
}

h4 {

}

