:root {
    --red: #e80d0d;
    --orange: #f98500;
    --yellow: #ffc600;
    --green: #10a503;
    --blue-green: #0ed6a4;
    --blue: #0071b2;
    --purple: #6a00b2;
    --brown: #8c7a51;
    --grey: #53565A;
    --black: #272727;
    --sweg1: #60978B;
    --sweg2: #EAB595;
    --sweg3: #8E649B;
    --sweg4: #E1E792;

 

    --font-one: 'Walter Turncoat', cursive;
    --font-two: 'Eagle Lake', cursive;
    --font-three: 'Jim Nightshade', cursive;
    --font-four: 'East Sea Dokdo', cursive;
}